<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>753</integer>
    <key>capHeight</key>
    <integer>730</integer>
    <key>copyright</key>
    <string>Copyright 2023 The Beon Project Authors (https://github.com/noirblancrouge/Beon)</string>
    <key>descender</key>
    <integer>-200</integer>
    <key>familyName</key>
    <string>Beon</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2023/09/04 14:19:16</string>
    <key>openTypeHheaAscender</key>
    <integer>1000</integer>
    <key>openTypeHheaDescender</key>
    <integer>-200</integer>
    <key>openTypeNameDesigner</key>
    <string>Bastien Sozeau</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://noirblancrouge.com</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>NBR — Bastien Sozeau</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://noirblancrouge.com</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>5</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>402</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>50</integer>
    <key>openTypeOS2Type</key>
    <array>
      <integer>3</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>800</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-200</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>200</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1000</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>200</integer>
    <key>postscriptBlueScale</key>
    <real>0.037</real>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-5</integer>
      <integer>0</integer>
      <integer>582</integer>
      <integer>588</integer>
      <integer>730</integer>
      <integer>735</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-150</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Beon</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>xHeight</key>
    <integer>582</integer>
  </dict>
</plist>
